@model List<Entities.Concrete.Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Kullanıcı Mail</th>
            <th>Yetki</th>
            <th>Status</th>
            <th>Durum Güncelle</th>
            <th>Yetkisini Değiştir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Model)
        {
            <tr>
                <td>@admin.AdminId</td>
                <td>@admin.AdminUserName</td>
                <td>@admin.AdminRole.RoleName</td>
                <td>@admin.Status</td>
                <td><a href="/Authorization/Status/@admin.AdminId" class="btn btn-danger">Durumu Güncelle</a></td>
                <td><a href="/Authorization/Update/@admin.AdminId" class="btn btn-warning">Yetkisini Değiştir</a></td>
            </tr>
        }
    </tbody>
</table>
@if (Roles.IsUserInRole("B"))
{
    <a href="/Authorization/Add" class="btn btn-info">Yeni Admin Tanımla</a>
}


