<button class="btn btn-primary" data-toggle="modal" data-target="#modal1">
    Yeni Hakkımızda Yazı Girişi
</button>

<div class="modal" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Metin Giriş Alanı</h2>
            </div>
            <form method="post" action="/About/Add">
                <div class="modal-body">
                    <label>Hakkımda Metin 1</label>
                    <input type="text" class="form-control" name="AboutDetails1" />
                </div>
                <br />
                <div class="modal-body">
                    <label>Hakkımda Metin 2</label>
                    <input type="text" class="form-control" name="AboutDetails2" />
                </div>
                <br />
                <div class="modal-body">
                    <label>Hakkımda Görsel 1</label>
                    <input type="text" class="form-control" name="AboutImage1" />
                </div>
                <br />
                <div class="modal-body">
                    <label>Hakkımda Metin 2</label>
                    <input type="text" class="form-control" name="AboutImage2" />
                </div>
                <br />
                <button type="submit" class="btn btn-secondary form-control">Kaydet</button>
            </form>
        </div>
    </div>
</div>

